<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GreenTea Leaf</key>
	<string>http://www.sxc.hu/pic/m/o/ou/outer/22804_greentea_leaf.jpg</string>
	<key>Maya</key>
	<string>http://www.sxc.hu/pic/m/r/ra/ralu/120621_maya_ruins4.jpg</string>
	<key>Cliff</key>
	<string>http://www.sxc.hu/pic/m/b/bo/bonvivant/197421_cliff2.jpg</string>
	<key>Coliseu de Roma</key>
	<string>http://www.sxc.hu/pic/m/r/re/renato2004/243221_coliseu_de_roma.jpg</string>
	<key>Winter</key>
	<string>http://www.sxc.hu/pic/m/u/u_/u_01_c/310610_winter.jpg</string>
	<key>Japanese Garden</key>
	<string>http://www.sxc.hu/pic/m/c/ca/capetan/311933_japanese_garden.jpg</string>
	<key>Shoji Screen</key>
	<string>http://www.sxc.hu/pic/m/c/ca/capetan/311935_shoji_screen.jpg</string>
	<key>Big Fella</key>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/325616_big_fella.jpg</string>
	<key>Mother &amp; Child</key>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/325618_mother_and_child.jpg</string>
	<key>GreenTea Leaf - 2</key>
	<string>http://www.sxc.hu/pic/m/o/ou/outer/22804_greentea_leaf.jpg</string>
	<key>Maya - 2</key>
	<string>http://www.sxc.hu/pic/m/r/ra/ralu/120621_maya_ruins4.jpg</string>
	<key>Coliseu de Roma - 2</key>
	<string>http://www.sxc.hu/pic/m/r/re/renato2004/243221_coliseu_de_roma.jpg</string>
	<key>Japanese Garden - 2</key>
	<string>http://www.sxc.hu/pic/m/c/ca/capetan/311933_japanese_garden.jpg</string>
</dict>
</plist>
